@use "base";

/* .main {
  min-height: 90vh;
  display: grid;
  place-items: center;
  max-width: 1140px;
  margin: 0 auto;
} */

/* .MuiTab-wrapper {
  background: green;
} */

/* .MuiButtonBase-root,
MuiTab-root {
  padding: 0;
  width: 50%;
} */
