.main {
  background: #f2f3f3;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.75);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  z-index: 100;
  animation: fade 0.8s ease-out;

  .modal-content {
    background: rgb(230, 230, 230);
    width: 80vw;
    height: 80vh;
    max-width: 866px;
    border-radius: 0.25em;
    text-align: center;
    position: relative;
  }

  .image {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .modalBtn {
    position: absolute;
    top: 0.3em;
    right: 0.3em;
    background: rgb(240, 240, 240);
    border: 2px solid rgb(204, 124, 124);
    border-radius: 0.5em;
    padding: 0.2em;
    color: rgb(192, 3, 3);
    display: flex;
    align-items: center;
    transition: border-color 0.3s ease-out, color 0.3s ease-out;
    z-index: 100;
    cursor: pointer;

    &:hover {
      color: rgb(233, 2, 2);
      border-color: rgb(228, 54, 54);
    }
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
